<div class="header">
    <h2 mat-dialog-title>Usuwasz zadanie backupu</h2>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    Kopie zapasowe dla tego zadania backupu nie będą już wykonywane. Jeśli chcesz zachować dane z ostatniego backupu, przenieś je do "Danych przesłanych".
</div>

<div mat-dialog-actions [align]="'end'  ">
    <button mat-raised-button [mat-dialog-close]="false">Anuluj</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="delete()">Usuń dane z zadaniem</button>
</div>