<button mat-raised-button (click)="getCheckboxData().refresh()">Odśwież</button>
<mat-card>
    <div class="mat-card_content">
        <div class="mat-card_selected">
            <p>Wybrano {{selectedUsers.length}} z {{getCheckboxData().users.length}} </p>
        </div>
        <div class="mat-card_actions">
            <mat-icon (click)="openDialog()">delete</mat-icon>
            <mat-icon (click)="this.actionsService().backup()">autorenew</mat-icon>
        </div>
    </div>
   
</mat-card>
<div class="container" #loaded>
    <div class="row">
        <div class="col">
            <p>
                <mat-checkbox [checked]="getCheckboxData().isChecked()"
                [indeterminate]="getCheckboxData().isIndeterminate()"
                (change)="getCheckboxData().toggleAll($event)"
                ></mat-checkbox> Nazwa zadania</p>
            </div>
            <div class="col">
                <p>Status zadania</p>
            </div>
            <div class="col">
                <p>Ostatni backup</p>
            </div>
            <div class="col">
                <p>Następny backup</p>
            </div>
            <div class="col">
                <p>Urządzenie</p>
            </div>
        </div>
    </div>
    <div class="container" *ngFor="let user of getCheckboxData().users">
        <div class="row">
            <div class="col">
                <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? getCheckboxData().toggle(user, $event) : null" 
                [checked]="getCheckboxData().exists(user)"></mat-checkbox>
                <mat-icon>{{user.devIcon}}</mat-icon>
                {{user.name}}
                {{user.description}}
            </div>
            <div class="col">
                {{user.status}}
            </div>
            <div class="col">
                {{user.lastBackup}}
            </div>
            <div class="col">
                {{user.nextBackup}}
                </div>
                <div class="col">
                    {{user.device}}
                </div>
            </div>
        </div>
        <mat-spinner *ngIf="isLoading"></mat-spinner>