<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item (click)="isExpanded =  !isExpanded" class="header-item">
                <mat-icon>menu</mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="'settings'">
                <mat-icon>home</mat-icon>
                <span *ngIf="isExpanded">Start</span>
            </mat-list-item>
            <mat-list-item (click)="isShowing = !isShowing">
                <mat-icon>backup</mat-icon>
                <span *ngIf="isExpanded">Backup</span>
                <mat-icon *ngIf="isExpanded" [ngClass]="{'rotate' : isShowing}">arrow_drop_down</mat-icon>
            </mat-list-item>
            <div class="submenu">
                <mat-list-item *ngIf="isExpanded && isShowing" [routerLink]="'backup'">Ustawienia Backupu</mat-list-item>
                <mat-list-item *ngIf="isExpanded && isShowing">submenu backup2</mat-list-item>
            </div>
            <mat-list-item>
                <mat-icon>upload</mat-icon>
                <span *ngIf="isExpanded">Dysk</span>
            </mat-list-item>
            <mat-list-item [routerLink]="'devices'">
                <mat-icon>devices</mat-icon>
                <span *ngIf="isExpanded">Urządzenia</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav mode="side" opened="true" position="end">
        <mat-nav-list>
            <mat-list-item (click)="isExpandedRight = !isExpandedRight">
                <mat-icon>menu</mat-icon>
            </mat-list-item>
            </mat-nav-list>
            <mat-list class="right-list">
            <mat-list-item *ngIf="isExpandedRight && selectedUsers.length == 1; else elseBlock" class="firstItem">
                <div class="right-list-item_info">
                        <h3><b>{{selectedUsers[0].name}}</b></h3>
                        <p><span>Ostatni backup:</span>
                            {{selectedUsers[0].lastBackup}}</p> 
                        <p>
                            <span>Następny backup:</span>
                            {{selectedUsers[0].nextBackup}}
                        </p>
                 </div>
            </mat-list-item>
            <ng-template #elseBlock>
                <mat-list-item *ngIf="isExpandedRight">
                    Zaznaczone zadania: {{selectedUsers.length}}
                </mat-list-item>
            </ng-template>
            <mat-list-item *ngIf="isDatabaseCheck() && isExpandedRight">
                <div class="right-item-list_moreInfo">
                    <h3>Dostępne bazy danych:</h3>
                    <ul *ngFor="let user of databaseArray">
                        <li>{{user.name}}</li>
                    </ul>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>