<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item (click)="isExpanded =  !isExpanded" class="header-item">
                <mat-icon>menu</mat-icon>
            </mat-list-item>
            <mat-list-item [routerLink]="'settings'">
                <mat-icon>home</mat-icon>
                <span *ngIf="isExpanded">Start</span>
            </mat-list-item>
            <mat-list-item (click)="isShowing = !isShowing">
                <mat-icon>backup</mat-icon>
                <span *ngIf="isExpanded">Backup</span>
                <mat-icon *ngIf="isExpanded" [ngClass]="{'rotate' : isShowing}">arrow_drop_down</mat-icon>
            </mat-list-item>
            <div class="submenu">
                <mat-list-item *ngIf="isExpanded && isShowing" [routerLink]="'/backup'">Backup Settings</mat-list-item>
                <mat-list-item *ngIf="isExpanded && isShowing">submenu backup2</mat-list-item>
            </div>
            <mat-list-item>
                <mat-icon>upload</mat-icon>
                <span *ngIf="isExpanded">Dysk</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav mode="side" opened="true" position="end">
        <mat-nav-list>
            <mat-list-item (click)="isExpandedRight = !isExpandedRight">
                <mat-icon>menu</mat-icon>
            </mat-list-item>
            <mat-list-item *ngIf="isExpandedRight">Example item</mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>