.container{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    .row{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }
    .col-sm{
    width: 10rem;
    display: flex;
    p{
        color: gray;
    }
    }
    .col-lg{
        display: flex;
        flex-direction: column;
        width: 50rem;
        border-bottom: 1px solid lightgray;
        img{
            width: 80px;
            height: 80px;
            border-radius: 100px;
            padding-bottom: 5px;
        }
        .additional-info{
            color: gray;
        }

    }
    .last-col{
        border: none;
    }
}

.label{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    h4{
        color: rgb(91, 91, 91);
    }
}