<div class="label">
    <h4>Dane profilowe</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>Zdjecie</p>
        </div>
        <div class="col-lg">
            <img src="assets/300.jpg" alt="avatar">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Imie i nazwisko</p>
        </div>
        <div class="col-lg">
            <p>Robert Jaszczurek</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Adresy e-mail</p>
        </div>
        <div class="col-lg last-col">
            <p>adres.email@gmail.com</p>
        </div>
    </div>
</div>

<div class="label">
    <h4>Konto</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>Typ</p>
        </div>
        <div class="col-lg">
            <p>Konto osobiste</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>Miejsce na dysku</p>
        </div>
        <div class="col-lg last-col">
            <p>Zajęte: 74,5 GB z 200 GB</p>
        </div>
    </div>
</div>